<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form for Subjects</title>
</head>
<body>
    <h2>HTML Forms</h2>

    <form action="/avg" method="post">
        <label for="Science">Science:</label><br>
        <input type="number" id="science" name="science" placeholder="0"><br>

        <label for="Maths">Maths:</label><br>
        <input type="number" id="math" name="math" placeholder="0"><br>

        <label for="C">C:</label><br>
        <input type="number" id="c" name="c" placeholder="0"><br>

        <label for="ds">Data Science:</label><br>
        <input type="number" id="ds" name="ds" placeholder="0"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>